<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:replace="partials/head :: head"></div>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>

<div class="page-wrapper justify-center">
  <div class="container justify-center align-center grow">
    <div class="row justify-center shrink">
      <div class="column justify-center align-center grow">
          <form action="/posts/create" method="post" class="d-flex flex-column" style="width: 800px">
            <h2>Create a post!</h2>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="Enter a title...">
            <label for="body">Body</label>
            <textarea type="text" name="body" id="body" size="50" height="100" placeholder="Enter something..."></textarea>
            <input type="submit" value="submit">
          </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>