<div th:fragment="navbar">
    <nav class="navbar">
        <a class="logo" href="#">Logo</a>
        <div class="menu justify-center">
            <a href="#" th:href="@{/}">Home</a>
            <a href="#" th:href="@{/coffee}">Coffee</a>
            <a href="#" th:href="@{/roll-dice}">Roll-dice</a>
            <a href="#" th:href="@{/water}">Water</a>
            <div class="dropdown align-center justify-center d-flex">
                <button class="dropbtn">
                    Ads
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#" th:href="@{/ads}">Show all Ads</a>
                    <a href="#" th:href="@{/ads/create}">Create an Ad</a>
                </div>
            </div>
            <div class="dropdown align-center justify-center d-flex">
                <button class="dropbtn">
                    Posts
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#" th:href="@{/posts}">Show all Posts</a>
                    <a href="#" th:href="@{/posts/create}">Create a Post</a>
                </div>
            </div>
        </div>
        <div class="login-logout ">
            <a href="#" th:href="@{/login}">Login</a>
            <form th:action="@{/logout}" method="post">
            <button>Logout</button>
            </form>
            <a href="" th:href="@{/register}">Register now</a>
        </div>
    </nav>
</div>
