body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /*create a cool linear gradient for dark grey with black */
    background: linear-gradient(to right, #333, #000);
}

h1, h3 {
    text-transform: uppercase;
}

h2, p{
    color: white;
}

h1 {
    background: linear-gradient(to right, #0737b7,#fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 1rem 0;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

/*make the h2 inside the card sentence case*/
.card h2:first-letter {
    text-transform: Capitalize;
}
/*unset the button properties and overwrite them with a cool blue color*/
button {
    all: unset;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 1px 5px;
    transition: all ease .3s;
    background-color: cornflowerblue;
}

.card button:hover, button:hover a {
    transform: scale(1.05);
    background-color: white;
    color: cornflowerblue;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 0 1rem;
    position: relative;
}

.navbar .logo {
    color: #fff;
    text-decoration: none;
}

.navbar .menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar .menu a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
}

.navbar .menu a:hover {
    background-color: #ddd;
    color: #333;
}

.navbar .menu a.active {
    background-color: #000;
    color: #fff;
}

.navbar .login-logout {
    display: flex;
    align-items: center;
}

.navbar .login-logout a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
}

.navbar .login-logout a:first-child {
    margin-right: 1rem;
}

.navbar .login-logout a:hover {
    background-color: #ddd;
    color: #333;
}



li a {
    color:cornflowerblue !important;
}

/*when i hover over the a i want to underline*/
a:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

/*card*/

.card {
    max-width: 300px;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /*create me a cool linear gradient gray color that meshes with darkness*/
    background: linear-gradient(to right, #333, #000);
    color: white;
    min-height: 150px;
}


/*Dropdown*/

.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 9;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 100%;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown.align-center.justify-center.d-flex :hover{
    background-color: gray;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*dropdown content on hover just changes text color and keeps the grey*/
.dropdown-content a:hover {
    background-color: gray;
    color: #000;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    background: linear-gradient(to right, #333, #000);
    border-radius: 5px;
}

/* Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all ease .3s;
}

.close:hover:first-child,
.close:focus:first-child {
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}